<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<div class="big-boss">
  <div class="search-container">
    <input class="search_input" type="text" placeholder="type your search here...">
  </div>
  <div class="navigation-bar">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <img src="../assets/icons/arrow-left.svg" alt="sageata">
          </a>
        </li>
        <li class="page-item"><a class="page-link1" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item">
          <a class="page-link2" href="#" aria-label="Next">
            <img src="../assets/icons/arrow-left.svg" alt="sageata">
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="right-content">
    <span>Show products</span>
    <div class="show-products">
      <label for="number">50</label>
      <select name="50" id="nr"></select>
    </div>
  </div>
</div>
  <div class="container">
    <p class="recommended">
      Recomandat
    </p>
  <div class="videos-grid">
    <div class="videoclip">
      <div class="first-img">
        <img src="../assets/photos/blackpink.jpg" alt="model">
        <div class="time">
          <p>12:30</p>
        </div>
        <div class="coins">
          <p>30 coins</p>
        </div>
      </div>
      <div class="video-description">
        <img src="../assets/photos/images.jpg" alt="singer">
        <div class="text">
          <p class="title">
            Lorem ipsum dolor sit amet, mei 
            te veniam diceret bonorum.
          </p>
          <p class="autor">
            Andreea Popescu
          </p>
          <div class="views-date">
            <p class="views">
              1K views
            </p>
            <p class="date">
              29 september 2020
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="videoclip">
      <div class="first-img">
        <img src="../assets/photos/poza-mica.jpg" alt="model">
        <div class="time">
          <p>12:30</p>
        </div>
        <div class="coins">
          <p>30 coins</p>
        </div>
      </div>
      <div class="video-description">
        <img src="../assets/photos/images.jpg" alt="singer">
        <div class="text">
          <p class="title">
            <b>Lorem ipsum dolor sit amet, mei 
            te veniam diceret bonorum.</b>
          </p>
          <p class="autor">
            Andreea Popescu
          </p>
          <div class="views-date">
            <p class="views">
              1K views
            </p>
            <p class="date">
              29 september 2020
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="videoclip">
      <div class="first-img">
        <img src="../assets/photos/Shinee.jpg" alt="model">
        <div class="time">
          <p>12:30</p>
        </div>
        <div class="coins">
          <p>30 coins</p>
        </div>
      </div>
      <div class="video-description">
        <img src="../assets/photos/images.jpg" alt="singer">
        <div class="text">
          <p class="title">
            Lorem ipsum dolor sit amet, mei 
            te veniam diceret bonorum.
          </p>
          <p class="autor">
            Andreea Popescu
          </p>
          <div class="views-date">
            <p class="views">
              1K views
            </p>
            <p class="date">
              29 september 2020
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="videoclip">
      <div class="first-img">
        <img src="../assets/photos/bts.jpg" alt="model">
        <div class="time">
          <p>12:30</p>
        </div>
        <div class="coins">
          <p>30 coins</p>
        </div>
      </div>
      <div class="video-description">
        <img src="../assets/photos/images.jpg" alt="singer">
        <div class="text">
          <p class="title">
            Lorem ipsum dolor sit amet, mei 
            te veniam diceret bonorum.
          </p>
          <p class="autor">
            Andreea Popescu
          </p>
          <div class="views-date">
            <p class="views">
              1K views
            </p>
            <p class="date">
              29 september 2020
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="videoclip">
      <div class="first-img">
        <img src="../assets/photos/Reona.jpg" alt="model">
        <div class="time">
          <p>12:30</p>
        </div>
        <div class="coins">
          <p>30 coins</p>
        </div>
      </div>
      <div class="video-description">
        <img src="../assets/photos/images.jpg" alt="singer">
        <div class="text">
          <p class="title">
            Lorem ipsum dolor sit amet, mei 
            te veniam diceret bonorum.
          </p>
          <p class="autor">
            Andreea Popescu
          </p>
          <div class="views-date">
            <p class="views">
              1K views
            </p>
            <p class="date">
              29 september 2020
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="videoclip">
      <div class="first-img">
        <img src="../assets/photos/michele.jpg" alt="model">
        <div class="time">
          <p>12:30</p>
        </div>
        <div class="coins">
          <p>30 coins</p>
        </div>
      </div>
      <div class="video-description">
        <img src="../assets/photos/images.jpg" alt="singer">
        <div class="text">
          <p class="title">
            Lorem ipsum dolor sit amet, mei 
            te veniam diceret bonorum.
          </p>
          <p class="autor">
            Andreea Popescu
          </p>
          <div class="views-date">
            <p class="views">
              1K views
            </p>
            <p class="date">
              29 september 2020
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="videoclip">
      <div class="first-img">
        <img src="../assets/photos/marcomengoni.jpg" alt="model">
        <div class="time">
          <p>12:30</p>
        </div>
        <div class="coins">
          <p>30 coins</p>
        </div>
      </div>
      <div class="video-description">
        <img src="../assets/photos/images.jpg" alt="singer">
        <div class="text">
          <p class="title">
            Lorem ipsum dolor sit amet, mei 
            te veniam diceret bonorum.
          </p>
          <p class="autor">
            Andreea Popescu
          </p>
          <div class="views-date">
            <p class="views">
              1K views
            </p>
            <p class="date">
              29 september 2020
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="videoclip">
      <div class="first-img">
        <img src="../assets/photos/mrrain.jpg" alt="model">
        <div class="time">
          <p>12:30</p>
        </div>
        <div class="coins">
          <p>30 coins</p>
        </div>
      </div>
      <div class="video-description">
        <img src="../assets/photos/images.jpg" alt="singer">
        <div class="text">
          <p class="title">
            Lorem ipsum dolor sit amet, mei 
            te veniam diceret bonorum.
          </p>
          <p class="autor">
            Andreea Popescu
          </p>
          <div class="views-date">
            <p class="views">
              1K views
            </p>
            <p class="date">
              29 september 2020
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="videoclip">
      <div class="first-img">
        <img src="../assets/photos/straykids.jpg" alt="model">
        <div class="time">
          <p>12:30</p>
        </div>
        <div class="coins">
          <p>30 coins</p>
        </div>
        <div class="panglica">
          <p>NEW</p>
        </div>
      </div>
      <div class="video-description">
        <img src="../assets/photos/images.jpg" alt="singer">
        <div class="text">
          <p class="title">
            Lorem ipsum dolor sit amet, mei 
            te veniam diceret bonorum.
          </p>
          <p class="autor">
            Andreea Popescu
          </p>
          <div class="views-date">
            <p class="views">
              1K views
            </p>
            <p class="date">
              29 september 2020
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>